.bigTitle {
    font-family: "Playfair Display", sans-serif;
    font-size: 48px;
    color: #004030;
    font-weight: bold;
}

.section {
    text-align: left;
    justify-content: flex-start;
    margin-bottom: 16px;
    margin-top: 8px
}

.title {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    color: #004030;
    font-weight: bold;
}

.description {
    font-family: "Raleway", sans-serif;
    color: #4A9782;
    font-size: 20px;
}

.link {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #004030;
    font-size: 20px;
    border: none;
}