.buttonContainer {
    cursor: pointer;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.actionButton {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #004030;
    font-size: 24px;
    border: none;
    padding: 16px
}

.actionButton:hover {
    transform: scale(1.05);
    color: #4A9782;
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-size: 48px;
    color: #004030;
    font-weight: bold;
}

.tabContent {
    font-family: "Playfair Display", sans-serif;
    font-size: 16px;
    color: #004030;
    font-weight: bold;
    width: 600px;
    padding: 16px
}

.container {
    display: flex;
    flex-direction: row;
    padding: 48px 0;
    flex: 1
}

.link {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #004030;
    font-size: 20px;
    border: none;
}

.description {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    color: #004030;
    font-size: 20px;
    border: none;
    text-align: left;
    padding-top: 16px;
}